
{% extends 'weather/Myfirstwebsite.html'%}
{% block content %}
<div class="introduction">
<div class="intro-text">
  <h1>Spotify</h1>
  <h2><code>Search your favourite artists</code></h2>
  
  <form method='post' class="col-md-6 col-md-offset-3">
        {% csrf_token %}
        <div style="width: 100%;
        position: relative;
        display: flex;">
            <input style="
        border: 3px solid #0044cc;
        font-size: 16px;
        margin: 30px 0px 0px 30px;
        padding: 5px;
        width: 150px;
        height: 50px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #0400ff;" type="text" name='song' placeholder="search..."x style="width:50%">
        </div>
        <div class="input-group-btn">
          <button class="select2" type="submit">
            <i class="glyphicon glyphicon-search">Search</i>
          </button>
        </div>
    </form>

</div>
</div>
    {% if song_id %}
    <div class="col-md-6 col-md-offset-3" style="margin-left:50px; display:flex;">
      <iframe src="https://open.spotify.com/embed/artist/{{song_id}}" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    {% endif %}


{% endblock %}
